body{
  font-family: 'Times New Roman', Times, serif ;
  background-color: grey;
}
h1{
  color: orange;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin: 25px auto;
}
ul{
  color: green;
  font-size: 32px;
  margin-left: 25px;
}

.description{
  font-size: 24px;
}

img{
  height: 500px;
  width: auto;
}

.ingredients, .instructions{
  color: black;
  font-size: 24px;
}

a{
  margin: 10px;
  display: inline-block;
}